In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv(r"C:\Users\yashv\Downloads\Heart_Disease_Prediction.csv")
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2,3,3,Presence
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2,0,7,Absence
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1,0,7,Presence
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2,1,7,Absence
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1,0,7,Absence
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1,0,7,Absence
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2,0,3,Absence
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2,0,6,Absence
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2,3,3,Presence

In [3]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [4]:
df.shape

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       268 non-null    float64
 4   Cholesterol              268 non-null    float64
 5   FBS over 120             268 non-null    float64
 6   EKG results              268 non-null    float64
 7   Max HR                   268 non-null    float64
 8   Exercise angina          268 non-null    float64
 9   ST depression            268 non-null    float64
 10  Slope of ST              270 non-null    int64
 11  Number of vessels fluro  270 non-null    int64
 12  Thallium                 270 non-null    int64
 13  Heart Disease            270 non-null    object
dtypes: float64(7), int64(6), object(1)
memory usage: 29.7+ KB

In [5]:
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         2
Cholesterol                2
FBS over 120               2
EKG results                2
Max HR                     2
Exercise angina            2
ST depression              2
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [6]:
df=df.dropna()

In [7]:
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [8]:
x=df[['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium']]
x

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130.0,322.0,0.0,2.0,109.0,0.0,2.4,2,3,3
1,67,0,3,115.0,564.0,0.0,2.0,160.0,0.0,1.6,2,0,7
2,57,1,2,124.0,261.0,0.0,0.0,141.0,0.0,0.3,1,0,7
3,64,1,4,128.0,263.0,0.0,0.0,105.0,1.0,0.2,2,1,7
4,74,0,2,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172.0,199.0,1.0,0.0,162.0,0.0,0.5,1,0,7
266,44,1,2,120.0,263.0,0.0,0.0,173.0,0.0,0.0,1,0,7
267,56,0,2,140.0,294.0,0.0,2.0,153.0,0.0,1.3,2,0,3
268,57,1,4,140.0,192.0,0.0,0.0,148.0,0.0,0.4,2,0,6
269,67,1,4,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2,3,3

In [9]:
y=df[["Heart Disease"]]
y

    Heart Disease
0        Presence
1         Absence
2        Presence
3         Absence
4         Absence
..            ...
265       Absence
266       Absence
267       Absence
268       Absence
269      Presence

[268 rows x 1 columns]

In [10]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [11]:
xtrain.shape

(214, 13)

In [12]:
xtest.shape

(54, 13)

In [13]:
ytrain.shape

(214, 1)

In [14]:
ytest.shape

(54, 1)

In [15]:
rf=RandomForestClassifier()
rf.fit(xtrain,ytrain)

C:\Users\yashv\AppData\Local\Temp\ipykernel_19980\2148472383.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(xtrain,ytrain)

RandomForestClassifier()

In [16]:
ypred=rf.predict(xtest)
ypred

array(['Absence', 'Presence', 'Absence', 'Absence', 'Absence', 'Presence',
       'Presence', 'Absence', 'Absence', 'Presence', 'Presence',
       'Absence', 'Presence', 'Presence', 'Presence', 'Presence',
       'Absence', 'Absence', 'Absence', 'Absence', 'Presence', 'Absence',
       'Presence', 'Absence', 'Absence', 'Absence', 'Presence', 'Absence',
       'Presence', 'Absence', 'Absence', 'Presence', 'Presence',
       'Presence', 'Presence', 'Presence', 'Absence', 'Absence',
       'Absence', 'Absence', 'Absence', 'Presence', 'Absence', 'Presence',
       'Absence', 'Presence', 'Absence', 'Absence', 'Presence', 'Absence',
       'Absence', 'Absence', 'Absence', 'Presence'], dtype=object)

In [17]:
score=accuracy_score(ytest,ypred)
score

0.8148148148148148

In [18]:
prediction=rf.predict([[80,1,3,175.0,209.0,0.0,0.0,110.0,1.0,2.3,2,0,7]])
print(prediction)

['Presence']

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [19]:
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier()
dt.fit(xtrain,ytrain)
ypred=dt.predict(xtest)
score=accuracy_score(ytest,ypred)
print(score)

0.8333333333333334